@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-container-style {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.otp-input-style {
  width: 48px !important;
  height: 48px;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
